@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,400i,,500i,800i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Barlow:500,500i&display=swap");

@keyframes fadeIn {
  0%   { opacity: 0}
  100% { opacity: 1}
}

@keyframes fadeOut {
  0%   { opacity: 1}
  100% { opacity: 0}
}

$c:   hsl(357.2, 100%, 58.4%);
$c-d1:hsl(357.2, 100%, 50%);
$c-d2:hsl(357.2, 100%, 40%);
$c-l1:hsl(357.2, 100%, 70%);
$c-l2:hsl(357.2, 50%, 90%);
$c-c: hsl(180, 100%, 50%);
$c-t: hsl(0, 0%, 20%);
$c-tl: hsl(0, 0%, 40%);
$bs-l:0 5px 25px hsla(0, 0%, 20%, 0.25);
$bs-s:0 5px 5px hsla(0, 0%, 20%, 0.125);
$ts:0 0 2px blue;
$title-font: "Barlow Semi Condensed", sans-serif;
$body-font: "Barlow", sans-serif;
$transition: 0.2s ease;

@media (prefers-color-scheme: dark) {
    :root {
    filter:invert(90%) hue-rotate(180deg);
    source, img, video {
       filter: invert(100%)  hue-rotate(180deg);
     }
    }
}

html {
  font-size:100%;
  -webkit-text-size-adjust: 100%;
  background:white;
  @media only screen and (min-width:1200px) {
    font-size:110%;
  }
  * {
    box-sizing:border-box;
    margin:0;
    padding:0;
    border:0;
    outline:0;
    list-style-type:none;
    list-style-position:outside;
    font-family: $body-font;
    color:$c-t;
    line-height:1.4em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      -webkit-font-smoothing: auto;
      -moz-osx-font-smoothing: auto;
    }
  }
  *::before,*::after {
  box-sizing:inherit;
  }
  *::selection {
    background-color:rgba($c, 0.4);
  }
}

    header {
      font-size:0.95rem;
      width:100%;
      height:50px;
      display:flex;
      align-items:center;
      justify-content:center;
      nav {
        menu {
          display:flex;
          flex-direction:row;
          align-items:center;
          justify-content:center;
          li {
            margin:0 2.5rem;
            a {
              border-bottom:0.1rem solid #fff;
              text-decoration:none;
              padding:0.25rem;
              color:$c-t;
              font-family:$title-font;
              transition:$transition;
              &:hover {
                border-bottom:0.1rem solid $c;
              }
              &.active {
                border-bottom:0.1rem solid $c;
              }
            }
          }
        }
      }
    }
    main {
      width:95%;
      max-width:50rem;
      margin:auto;
      min-height:calc(100vh - 50px - 1.5rem);
      padding:3rem 0;
      h1,h2,h3,h4,h5,h6 {font-family:$title-font;}
      h1 {
        font-size:2rem;
        font-weight:700;
      }
      h2 {
        font-size:1.75rem;
        font-style:italic;
        color:$c;
        font-weight:700;
      }
      h3 {
        font-size: 1.5rem;
        font-weight:400;
      }
      p {
        font-size:1rem;
      }
      blockquote {
        display:block;
        width:90%;
        max-width:40rem;
        margin:auto;
        padding:2rem;
        font-style:italic;
        &::before , &::after {
          content: "''";
        }
      }
      code {
        display:block;
        width:90%;
        max-width:40rem;
        margin:auto;
        padding:2rem;
        background: $c-l2;
        font-family:monospace;
      }
      ul {
        li {
          margin: 0.75rem 0 0.75rem;
          &:last-of-type {
            margin-bottom: 0;
          }
          &::before {
            content: "+";
            display: inline-block;
            color: $c;
            padding-right: 0.5rem;
          }
        }
      }
      > * {
        margin-bottom:1rem !important;
      }

      .flex {
          display: flex;
          justify-content: space-between;
        }
      .centre {align-items: center;}
      .row {flex-direction:row;}
      .column {flex-direction:column;}
      .break {width: 50%;}

      &#cv {
        .section {
          margin-bottom:1rem;
        }
        .item {
          margin-bottom:2rem;
        }
        h1 {color:$c;font-weight:700;font-size:2.5rem;line-height:1em;}
        h2 {color:$c-t;font-weight:400;font-size:1.8rem;line-height:1em;}
        h3 {color:$c;font-weight:700;font-size:1.8rem;font-style:italic;margin-bottom:0.5rem;}
        h4 {color:$c-t;font-weight:700; font-size:1.5rem;}
        h5 {color:$c-tl;font-weight:500; font-size:1.1rem;font-style:italic;}
        h6 {color:$c-t;font-weight:700; font-size:1rem;}
        a {
          color:$c-t;
          transition:$transition;
          text-decoration: none;
          &:hover {
            color: $c;
          }
        }
        #cvHead {padding-bottom:1rem;border-bottom:1px solid $c;}
        #duration p {font-style:italic;margin:0 0.25rem;}
        #contact-info {
          justify-content:center;
          text-align: right;
          a {
            display: block;
            font-weight: 700;
            line-height: 1.5rem;
            font-family: $title-font;
            font-size: 1.2rem;
          }
        }
      }
      &#contact {
        form {
          display:flex;
          flex-direction:column;
          width:75%;
          max-width:30rem;
          margin:2.5rem auto;
          input,textarea {
            background-color:#f4f4f4;
            padding:0.5rem 0.5rem;
            margin-top:1rem;
            border-left:0.125rem solid $c;
            font-size:0.8rem;
          }
          button {
            margin-top:1.5rem;
            margin-bottom:1rem;
            transition:$transition;
            padding:0.5rem;
            font-family:$title-font;
            font-size:1.0rem;
            font-weight:bold;
            background-color:$c;
            color:white;
            &:hover {
              background-color:$c-l1;
            }
          }
          .errorPlaceholder {
            height:1.5rem;
            label {
              margin:0.125rem auto;
              color:$c-tl;
              font-size:0.75rem;
              font-style:italic;
              position:relative;
              top:5%;
            }
          }
        }
      }
      &#work {
        section {
          h3 {
             font-weight:800;
            font-size:1.6rem;
          }
          h4 {font-style:italic;font-weight:400;font-size:1.2rem;}
          figure {
            align-items:stretch;
            picture {
             overflow:hidden;
             width:100%;
             height:auto;
             display:flex;
              source, img {
                width:100%;
              }
            }
            figcaption {
             background:$c;
             color:$c-t;
             padding: 2rem;
            }
          }
        }
      }
    }
    footer {
      font-size:0.85rem;
      width:100%;
      height:3rem;
      display:flex;
      flex-direction:column;
      align-items:center;
      justify-content:center;
      p {
        color:$c-tl;
        span {
          margin:0 0.5rem;
          color:$c-tl;
        }
      }
    }
    @media screen and (max-width: 599px) {
      .flex {
        flex-direction: column;
        align-items: start;
      }
      .break {
        width: 100%;
      }
    }
